<div class="flex flex-col flex-1 w-full max-w-5xl overflow-auto shadow-xl">
  <!-- Chat container -->
  <div class="bg-gray-800 flex flex-col flex-1 w-full rounded-lg p-4 overflow-auto">
    <!-- Chat Messages -->
    <%= turbo_stream_from @conversation %>
    <div id="messages" class ="flex flex-col-reverse rounded-lg flex-1 overflow-scroll">
      <%= render @conversation.messages.newest_first %>
    </div>

    <!-- Input Field with Send Button -->
    <div class="flex-none mt-2 shadow-lg">
      <%= form_with model: @message, data: { controller: "conversation",
                                             action: "turbo:submit-end->conversation#reset",
                                             target: "message_content" } do |f| %>
        <div class="w-full relative flex items-center shadow-lg">
          <!-- Hidden Field for identifying the conversation -->
          <%= f.hidden_field :conversation_id, value: @conversation.id %>

          <!-- Input Field -->
          <%= f.text_field :content, placeholder: "Type your message...",
                           class: "w-full bg-gray-800 text-white py-3 pl-4 pr-12
               rounded-lg border-2 border-gray-600 placeholder-gray-400"
          %>

          <!-- Send Button (Icon) -->
          <button class="absolute right-4 text-gray-500 hover:text-gray-400 focus:outline-none">
            <%= f.submit "➤", class: "focus:outline-none" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
