<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title><%= content_for(:title) || "Roundtable" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 h-full flex flex-col items-center justify-center margin-0 p-2">
    <header class="flex-none text-center mb-4">
      <h1 class="text-4xl sm:text-5xl font-extrabold text-rose-600 tracking-tight">
        <a href="/" class="hover:underline">RoundTable.ai</a>
      </h1>
      <p class="text-md sm:text-xl md:text-2xl mt-2 text-gray-400">
        Great minds don't think alike. They think together.
      </p>
    </header>

    <%= yield %>

    <footer class="flex-none text-center text-gray-400 text-sm mt-2">❤</footer>
  </body>
</html>
